<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite1" verbose="1"  >
    <parameter name = "browser" value = "chrome" />
    <test name="Check if existing user can create a new note" >
        <classes>
            <class name="tests.LoginTest" />
            <class name="tests.NotesTest" />
        </classes>
    </test>
</suite>